body {
  background: #136a8a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #b3e6eb, #6281c9);
  background: linear-gradient(to left, #b3e6eb, #6281c9);
}

.submit {
  background: #80ff80;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
  text-align: center !important;
  vertical-align: middle;
  white-space: nowrap;
  width: 80%;
  justify-content: flex-start; 
  border-radius: 30px;
  align-self: center;
}

.list-title {
  font-size: 50px;
  background: #8080ff;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  font-family: Arial;
  width: 100%;
}

.form {
  border-radius: 50px 15px 0px 0px;
  padding-bottom: 2em;
}

.description {
  padding: .5em;
}

.editToggle {
  align-self: flex-end;

}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.white {
  color: white !important;
}

.strike-through {
  text-decoration: line-through;
}

textarea {
  width: 100%;
  max-width: 100%;
  min-height: 8em;
  max-height: 16em;
}

strong + small {
  display: block;
}

input[type=checkbox] {
  margin-right: 1em;
}

div.pull-right a {
  margin-left: 1em;
}

textarea[id=description] {
  border-radius: 22px;
  height: 80%;
  width: 85%;
  border: 2px solid grey;
  align-self:center;
}

label {
  border-left: 30px solid white;
  border-top: 15px solid white;
  font-family: Arial, Helvetica, sans-serif;
}

.priority {
  width: 75%;
  min-height: 100px;
  align-self: center;
}

.ftitle {
  color:black;
  padding:20px;
  background-color:#e6e6e6;
  border-radius: 50px 15px 0px 0px;
}
/* You can add global styles to this file, and also import other style files */
