body {
  background: #136a8a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #b3e6eb, #6281c9);
  background: linear-gradient(to left, #b3e6eb, #6281c9);
}

.ftitle {
  font-size: 15;
  color:black;
  padding:20px;
  background-color:#e6e6e6;
  border-radius: 50px 15px 0px 0px;
}

.form.card {
  border-radius: 50px 15px 0px 0px;
  padding-bottom: 2em;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

textarea[id=description] {
  border-radius: 22px;
  height: 80%;
  width: 85%;
  border: 2px solid grey;
  align-self: center;
}

textarea {
  width: 100%;
  max-width: 100%;
  min-height: 8em;
  max-height: 16em;
}

label {
  border-left: 30px solid white;
  border-top: 15px solid white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
}

.priority {
  width: 82%;
  align-self: center;
  font-size: 14pt;
}

.checkbox-div {
  display: flex; 
  flex-flow: row; 
  justify-content: space-between;
}

input[type=checkbox] {
  align-self: flex-end;
  margin-right: 1em;
  width: 50px;
  height: 50px;
  padding: 1em;
}

input[type=checkbox].complete.button{
  text-decoration: line-through;
}

.submit {
  background: #80ff80;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
  text-align: center !important;
  vertical-align: middle;
  white-space: nowrap;
  width: 80%;
  justify-content: flex-start; 
  border-radius: 30px;
  align-self: center;
}

.list.container {
  display: flex; 
  flex-flow: column wrap;
  border-radius: 15px;
  background-color: #ccffcc;
  height: 100%;
}

.list-title {
  font-size: 25px;
  background: #ccffcc;
  font-family: Arial, Helvetica, sans-serif;
  width: 60%;
  display: flex;
  min-width: 13em;
}

.description {
  padding: 15px;
  width: 80%;
  align-self: flex-start;
}

.well.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%
}

.button-container{
  display: flex;
  flex-flow: column wrap;
  align-content: flex-end;
} 

.edit {
  justify-content: flex-end;
  justify-self: flex-end;
}

.edit.container{
  background-color: #ccffcc;
  justify-content: space-around;
}

.change-button {
  border-radius: 15px;
  border-width: 3px;
  height: 2em;
  width: 5em;
  background-color: rgba(255, 208, 0, 0.945);
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.white {
  color: white !important;
}


.strike-through {
  text-decoration: line-through;
}

strong + small {
  display: block;
}

div.pull-right a {
  margin-left: 1em;
}


/* You can add global styles to this file, and also import other style files */
